@value vInk from "./colors.module.css";

.clear-button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: vInk;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font: unset;
  outline: none;
  box-shadow: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}
